4. XML schema/IMKL2015-sw.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:sw="http://www.geostandaarden.nl/imkl/2015/sw/1.0" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:us-net-sw="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0" elementFormDefault="qualified" targetNamespace="http://www.geostandaarden.nl/imkl/2015/sw/1.0" version="1.0RC1">
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0/SewerNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AanduidingVerzoekContact" substitutionGroup="gml:AbstractFeature" type="sw:AanduidingVerzoekContactType"/>
  <complexType name="AanduidingVerzoekContactType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" name="maatregel" type="string"/>
          <element minOccurs="0" name="netRisicoOmschrijving" type="string"/>
          <element name="geometrie" type="gml:SurfacePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AanduidingVerzoekContactPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:AanduidingVerzoekContact"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Adres" substitutionGroup="gml:AbstractObject" type="sw:AdresType"/>
  <complexType name="AdresType">
    <sequence>
      <element name="openbareRuimteNaam" type="string"/>
      <element name="huisnummer" type="string"/>
      <element minOccurs="0" name="huisletter" type="string"/>
      <element minOccurs="0" name="huisnummertoevoeging" type="integer"/>
      <element name="woonplaatsNaam" type="string"/>
      <element name="postcode" type="string"/>
      <element name="landcode" type="string"/>
      <element minOccurs="0" name="identificatieBAG" type="string"/>
    </sequence>
  </complexType>
  <complexType name="AdresPropertyType">
    <sequence>
      <element ref="sw:Adres"/>
    </sequence>
  </complexType>
  <element name="Appurtenance" substitutionGroup="us-net-common:Appurtenance" type="sw:AppurtenanceType"/>
  <complexType name="AppurtenanceType">
    <complexContent>
      <extension base="us-net-common:AppurtenanceType">
        <sequence>
          <element minOccurs="0" name="bovengrondsZichtbaar" type="boolean"/>
          <element minOccurs="0" name="geoNauwkeurigheidXY" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidXYvalue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="eanCode" type="string"/>
          <element minOccurs="0" name="rotatiehoekSymbool" type="gml:MeasureType"/>
          <element minOccurs="0" name="extraGeometrie" type="sw:ExtraGeometriePropertyType"/>
          <element minOccurs="0" name="dieptelegging" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sw:Diepte</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hoogte" type="gml:LengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AppurtenancePropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Appurtenance"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="BuisSpecifiekPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Mantelbuis"/>
      <element ref="sw:Rioolleiding"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Diepte" substitutionGroup="gml:AbstractFeature" type="sw:DiepteType"/>
  <complexType abstract="true" name="DiepteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="sw:NEN3610IDPropertyType"/>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime"/>
          <element name="diepteNauwkeurigheid" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidDiepteValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="dieptePeil" type="gml:MeasureType"/>
          <element minOccurs="0" name="datumOpmetingDieptePeil" type="dateTime"/>
          <element name="diepteAangrijpingspunt" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">DiepteAangrijpingspuntValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="ligging" type="gml:PointPropertyType"/>
          <element name="inNetwork" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sw:Utiliteitsnet</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DieptePropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Diepte"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DiepteNAP" substitutionGroup="sw:Diepte" type="sw:DiepteNAPType"/>
  <complexType name="DiepteNAPType">
    <complexContent>
      <extension base="sw:DiepteType">
        <sequence>
          <element minOccurs="0" name="maaiveldPeil" type="gml:MeasureType"/>
          <element minOccurs="0" name="datumOpmetingMaaiveldPeil" type="dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DiepteNAPPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:DiepteNAP"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Duct" substitutionGroup="us-net-common:Duct" type="sw:DuctType"/>
  <complexType name="DuctType">
    <complexContent>
      <extension base="us-net-common:DuctType">
        <sequence>
          <element minOccurs="0" name="bovengrondsZichtbaar" type="boolean"/>
          <element minOccurs="0" name="geoNauwkeurigheidXY" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidXYvalue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toelichting" type="string"/>
          <element minOccurs="0" name="aantalKabelsLeidingen" type="integer"/>
          <element minOccurs="0" name="extraGeometrie" type="sw:ExtraGeometriePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dieptelegging" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sw:Diepte</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DuctPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Duct"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ExtraGeometrie" substitutionGroup="gml:AbstractFeature" type="sw:ExtraGeometrieType"/>
  <complexType name="ExtraGeometrieType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="sw:NEN3610IDPropertyType"/>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="vlakgeometrie2D" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="puntgeometrie2.5D" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="lijngeometrie2.5D" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="vlakgeometrie2.5D" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="geometrie3D" type="gml:SolidPropertyType"/>
          <element name="inNetwork" type="sw:UtiliteitsnetPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExtraGeometriePropertyType">
    <sequence minOccurs="0">
      <element ref="sw:ExtraGeometrie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="IMKLBasisPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Diepte"/>
      <element ref="sw:ExtraGeometrie"/>
      <element ref="sw:Utiliteitsnet"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="KabelEnLeidingContainerPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Duct"/>
      <element ref="sw:Mantelbuis"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="KabelOfLeidingPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Rioolleiding"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Kast" substitutionGroup="us-net-common:Cabinet" type="sw:KastType"/>
  <complexType name="KastType">
    <complexContent>
      <extension base="us-net-common:CabinetType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KastPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Kast"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="LeidingelementPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Appurtenance"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Mangat" substitutionGroup="us-net-common:Manhole" type="sw:MangatType"/>
  <complexType name="MangatType">
    <complexContent>
      <extension base="us-net-common:ManholeType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MangatPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Mangat"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Mantelbuis" substitutionGroup="us-net-common:Pipe" type="sw:MantelbuisType"/>
  <complexType name="MantelbuisType">
    <complexContent>
      <extension base="us-net-common:PipeType">
        <sequence>
          <element minOccurs="0" name="buismateriaalType" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PipeMaterialTypeValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bovengrondsZichtbaar" type="boolean"/>
          <element minOccurs="0" name="geoNauwkeurigheidXY" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidXYvalue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toelichting" type="string"/>
          <element minOccurs="0" name="aantalKabelsLeidingen" type="integer"/>
          <element minOccurs="0" name="extraGeometrie" type="sw:ExtraGeometriePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dieptelegging" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sw:Diepte</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MantelbuisPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Mantelbuis"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NEN3610ID" substitutionGroup="gml:AbstractObject" type="sw:NEN3610IDType"/>
  <complexType name="NEN3610IDType">
    <sequence>
      <element name="namespace" type="string"/>
      <element name="lokaalID" type="string"/>
      <element minOccurs="0" name="versie" type="string"/>
    </sequence>
  </complexType>
  <complexType name="NEN3610IDPropertyType">
    <sequence>
      <element ref="sw:NEN3610ID"/>
    </sequence>
  </complexType>
  <element name="PuntLijnVlak" substitutionGroup="gml:AbstractObject" type="sw:PuntLijnVlakType"/>
  <complexType name="PuntLijnVlakType">
    <choice>
      <element name="punt" type="gml:PointPropertyType"/>
      <element name="lijn" type="gml:CurvePropertyType"/>
      <element name="vlak" type="gml:SurfacePropertyType"/>
    </choice>
  </complexType>
  <complexType name="PuntLijnVlakPropertyType">
    <sequence>
      <element ref="sw:PuntLijnVlak"/>
    </sequence>
  </complexType>
  <element name="Rioolleiding" substitutionGroup="us-net-sw:SewerPipe" type="sw:RioolleidingType"/>
  <complexType name="RioolleidingType">
    <complexContent>
      <extension base="us-net-sw:SewerPipeType">
        <sequence>
          <element minOccurs="0" name="buismateriaalType" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PipeMaterialTypeValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="typeRioolleiding" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">RioolleidingTypeValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="geoNauwkeurigheidXY" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidXYvalue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toelichting" type="string"/>
          <element minOccurs="0" name="extraGeometrie" type="sw:ExtraGeometriePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dieptelegging" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">sw:Diepte</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RioolleidingPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Rioolleiding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="StedelijkWaterSpecifiekPropertyType">
    <choice minOccurs="0">
      <element ref="sw:Rioolleiding"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TechnischContactpersoon" substitutionGroup="gml:AbstractObject" type="sw:TechnischContactpersoonType"/>
  <complexType name="TechnischContactpersoonType">
    <sequence>
      <element name="naam" type="gml:stringOrNilReason"/>
      <element name="telefoon" type="gml:stringOrNilReason"/>
      <element name="email" type="gml:stringOrNilReason"/>
    </sequence>
  </complexType>
  <complexType name="TechnischContactpersoonPropertyType">
    <sequence>
      <element ref="sw:TechnischContactpersoon"/>
    </sequence>
  </complexType>
  <element name="Utiliteitsnet" substitutionGroup="us-net-common:UtilityNetwork" type="sw:UtiliteitsnetType"/>
  <complexType name="UtiliteitsnetType">
    <complexContent>
      <extension base="us-net-common:UtilityNetworkType">
        <sequence>
          <element name="identificatie" type="sw:NEN3610IDPropertyType"/>
          <element name="beginLifespanVersion" type="dateTime"/>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime"/>
          <element name="thema" type="gml:ReferenceType">
            <annotation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">Thema</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="technischContactpersoon" type="sw:TechnischContactpersoonPropertyType"/>
          <element minOccurs="0" name="standaardDieptelegging" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UtiliteitsnetPropertyType">
    <sequence minOccurs="0">
      <element ref="sw:Utiliteitsnet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
