versie 1.x IMKL1.x/4. XML schema/imkl2015-rrb.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:rrb="http://www.geostandaarden.nl/imkl/2015/rrb/1.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:us-net-ogc="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" elementFormDefault="qualified" targetNamespace="http://www.geostandaarden.nl/imkl/2015/rrb/1.2" version="1.2.1">
  <annotation>
    <documentation>-- Name --
IMKL2015 versie 1.2.1
-- Definition --
-- Description --
4 profielen:
wion: IMKL2015-wion.xsd
wionBR: IMKL2015-wionbr.xsd
sw: IMKL2015-sw.xsd
rrb: IMKL2015-rrb.xsd
-- Source --
Geonovum-IMKL2015</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0/OilGasChemicalsNetwork.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AanvraagSoortContact" substitutionGroup="gml:AbstractObject" type="rrb:AanvraagSoortContactType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Het contactadres (meldadres) bij de netbeheerder waar de grondroerder contact mee kan opnemen voor informatie over (het) geraakte belang(en).
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="AanvraagSoortContactType">
    <sequence>
      <element name="aanvraagSoort" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Typering van contact in relatie tot het type melding of verzoek.
-- Description --
-- Source --</documentation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AanvraagSoortValue</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="naam" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Naam van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="telefoon" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Telefoon van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="email" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
E-mail adres van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AanvraagSoortContactPropertyType">
    <sequence>
      <element ref="rrb:AanvraagSoortContact"/>
    </sequence>
  </complexType>
  <element name="Aanvrager" substitutionGroup="gml:AbstractObject" type="rrb:AanvragerType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Een aanvrager van gebiedsinformatie is een persoon die of bedrijf dat wil weten welke kabels en leidingen er in een bepaald gebied onder de grond liggen.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="AanvragerType">
    <sequence>
      <element minOccurs="0" name="contactpersoon" type="rrb:ContactPropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Persoon als aanspreekpunt namens aanvrager.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="organisatie" type="rrb:OrganisatiePropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Organisatie die aanvraag doet.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="extraEmail" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Extra email naast het emailadres van de contactpersoon.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AanvragerPropertyType">
    <sequence>
      <element ref="rrb:Aanvrager"/>
    </sequence>
  </complexType>
  <element name="Achtergrondkaart" substitutionGroup="gml:AbstractObject" type="rrb:AchtergrondkaartType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Referentie naar achtergrondkaart met grootschalige topografie (bestaand of gepland) behorend bij het aangevraagde gebied.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="AchtergrondkaartType">
    <sequence>
      <element name="achtergrondkaartSoort" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Soort achtergrondkaart (Kadaster: bgtBestaand/bgtPlan; netbeheerder: eigenTopoBestaand/eigenTopoPlan).
-- Description --
-- Source --</documentation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">AchtergrondkaartSoortValue</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element name="kaartreferentie" type="anyURI">
        <annotation>
          <documentation>-- Name --
-- Definition --
Referentie naar een achtergrondkaart.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AchtergrondkaartPropertyType">
    <sequence>
      <element ref="rrb:Achtergrondkaart"/>
    </sequence>
  </complexType>
  <element name="Adres" substitutionGroup="gml:AbstractObject" type="rrb:AdresType">
    <annotation>
      <documentation>-- Name --
BAG-Adres
-- Definition --
Beschrijving van een locatie van door middel van een adres.
-- Description --
Adresgegevens van Panden, Ligplaatsen en Staanplaatsen zijn beschreven in de BAG. Voor de attributen van net adres zijn de BAG definities gebruikt.
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="AdresType">
    <sequence>
      <element name="openbareRuimteNaam" type="string">
        <annotation>
          <documentation>-- Name --
openbare ruimte naam
-- Definition --
Een naam die aan een OPENBARE RUIMTE is toegekend in een daartoe strekkend formeel gemeentelijk besluit.
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element name="huisnummer" type="string">
        <annotation>
          <documentation>-- Name --
huisnummer
-- Definition --
Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nummering.
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="huisletter" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende toevoeging
aan een huisnummer in de vorm van een alfanumeriek
teken.
-- Description --
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="huisnummertoevoeging" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nadere
toevoeging aan een huisnummer of een combinatie van
huisnummer en huisletter.
-- Description --
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element name="woonplaatsNaam" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
De benaming van een door het gemeentebestuur
aangewezen WOONPLAATS.
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element name="postcode" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
De door TNT Post vastgestelde code behorende bij een
bepaalde combinatie van een straatnaam en een
huisnummer.
-- Description --
De volgende regulier expressie beschrijft het format van een valide volledige postcode: [1-9]{1}[0-9]{3}[A-Z]{2}.
-- Source --
BAG. http://www.digitaleoverheid.nl/onderwerpen/stelselinformatiepunt/stelsel-van-basisregistraties/stelselvoorzieningen/stelselcatalogus/begrippen/Adres/BAG/Nummeraanduiding/Postcode-Nummeraanduiding</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="landcode" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Tweeletterige afkorting van de landsnaam conform ISO 3166 - Country codes
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="BAGidAdresseerbaarObject" type="string">
        <annotation>
          <documentation>-- Name --
BAGidAdresseerbaarObject
-- Definition --
BAG identifier van het adresseerbaar object waar een adres aan is toegekend zoals geregistreerd bij de BAG.
-- Description --
De adresseerbare objecten  Verblijfsobjecten, Ligplaatsen en Staanplaatsen zijn via de nummeraanduiding gekoppeld aan een adres. De identificatie van het adresseerbare object wordt genomen omdat dit het meest aansluit bij de registratie van de netbeheerders.
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AdresPropertyType">
    <sequence>
      <element ref="rrb:Adres"/>
    </sequence>
  </complexType>
  <complexType name="BuisSpecifiekPropertyType">
    <choice minOccurs="0">
      <element ref="rrb:OlieGasChemicalienPijpleiding"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Contact" substitutionGroup="gml:AbstractObject" type="rrb:ContactType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Het contactadres (meldadres) bij de netbeheerder waar de grondroerder contact mee kan opnemen voor informatie over (het) geraakte belang(en).
-- Description --
-- Source --
Bron: belangenregistratie.</documentation>
    </annotation>
  </element>
  <complexType name="ContactType">
    <sequence>
      <element minOccurs="0" name="naam" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Naam van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="telefoon" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Telefoon van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="email" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
E-mail adres van het contact.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ContactPropertyType">
    <sequence>
      <element ref="rrb:Contact"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Diepte" substitutionGroup="gml:AbstractFeature" type="rrb:DiepteType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Abstract data object dat de gemeenschappelijke attributen en associaties bevat voor de diepte objecten.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="DiepteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Tekst of getal dat een eigenschap omschrijft of kwantificeert en als annotatie op een kaartbeeld wordt afgebeeld.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="omschrijving" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Gedetailleerde omschrijving van het informatieobject.
-- Description --
Kan toegevoegd worden als het label meer uitleg behoeft.
-- Source --</documentation>
            </annotation>
          </element>
          <element name="diepteNauwkeurigheid" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
De nauwkeurigheid van de dekking van een KabelOfLeiding of KabelEnLeidingContainer object of diepte van een Leidingelement of ContainerLeidingelement object.
-- Description --
Dit attribuut gebruikt een codelijst – zie NauwkeurigheidDiepteValue.
-- Source --</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidDiepteValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="dieptePeil" type="gml:MeasureType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Geeft de afstand weer vanaf de referentie – NAP of maaiveld – tot bovenkant van een KabelOfLeiding, KabelEnLeidingcontainer, Leidingelement of ContainerLeidingelement. Dit attribuut heeft een Measure als data type. De UOM wordt uitgedrukt via 1 van de volgende OGC URN codes: • urn:ogc:def:uom:OGC::m •	urn:ogc:def:uom:OGC::cm •	urn:ogc:def:uom:OGC::mm.
Voor WION is de eenheid altijd meter en een getal met ten hoogste 2 decimalen.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datumOpmetingDieptePeil" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum waarop het dieptepeil werd opgemeten.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element name="diepteAangrijpingspunt" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Benoeming van welk aangrijpingspunt van het object de diepte is bepaald.
-- Description --
Bijvoorbeeld bovenkant of binnen onderkant buis.
-- Source --</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">DiepteAangrijpingspuntValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="rotatiehoekSymbool" type="gml:MeasureType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Hoek waaronder een puntsymbool wordt weergegeven.
-- Description --
Voor een symbool dat gekoppeld is aan een puntgeometrie, geeft dit attribuut aan onder welke hoek een puntsymbool moet worden weergegeven. 

Eenheid:  booggraad; één booggraad is een 360e deel van een cirkelomtrek.
Oriëntering: met de klok mee (positief) t.o.v. normale tekstrichting (horizontaal = 0 graden; voor een kaart die noord georiënteerd is.).
Decimale precisie: 1 (= 1 cijfer achter de komma, ofwel 1/10 booggraad).
Bereik (minimale/maximale waarden): [-180, +180].].

Dit attribuut heeft een Measure als data type. De UOM wordt uitgedrukt via de volgende OGC URN code: urn:ogc:def:uom:OGC::deg
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="ligging" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Locatie van het dieptegegeven.
-- Description --
Locatie waar de diepte-informatie van toepassing is. Eén leiding kan meerdere dieptegegevens langs het traject van de leiding hebben. 
-- Source --</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="inNetwork" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Verwijzing naar het utiliteitsnet.
-- Description --
-- Source --</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">rrb:Utiliteitsnet</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DieptePropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:Diepte"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DiepteNAP" substitutionGroup="rrb:Diepte" type="rrb:DiepteNAPType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Object dat dient om de afstand weer te geven van het NAP-nulpunt tot de bovenkant van kabel of leiding, leidingcontainer, leidingelement of containerleidingelement.
-- Description --
Voor een buis kan additioneel de binnenonderkant buis als meetpunt worden genomen.
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="DiepteNAPType">
    <complexContent>
      <extension base="rrb:DiepteType">
        <sequence>
          <element minOccurs="0" name="maaiveldPeil" type="gml:MeasureType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Hoogte van het maaiveld t.o.v. NAP.
-- Description --
Kan gebruikt worden om de diepte van een kabel, leiding, element of container t.o.v. het maaiveld te berekenen. Dit attribuut heeft een Measure als data type. De UOM wordt uitgedrukt via 1 van de volgende OGC URN codes: urn:ogc:def:uom:OGC::m urn:ogc:def:uom:OGC::cm urn:ogc:def:uom:OGC::mm.
Voor WION is de eenheid altijd meter en een getal met ten hoogste 2 decimalen.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="datumOpmetingMaaiveldPeil" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum waarop het maaiveldpeil werd opgemeten.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DiepteNAPPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:DiepteNAP"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="DiepteTovMaaiveld" substitutionGroup="rrb:Diepte" type="rrb:DiepteTovMaaiveldType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Object dat dient om de afstand weer te geven vanaf het maaiveld tot de bovenkant van kabel of leiding, leidingcontainer, leidingelement of containerleidingelement.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="DiepteTovMaaiveldType">
    <complexContent>
      <extension base="rrb:DiepteType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DiepteTovMaaiveldPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:DiepteTovMaaiveld"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EffectcontourDodelijk" substitutionGroup="gml:AbstractFeature" type="rrb:EffectcontourDodelijkType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Effectafstand dodelijk letsel (1% mortaliteit).
-- Description --
Zijnde de toetsingsafstand voor o.a. de inventarisatie van bebouwing voor de berekening van het groepsrisico alsook het omgaan met het restrisico. De effectcontour komt bij elke transportroute voor.
-- Source --
RRGS</documentation>
    </annotation>
  </element>
  <complexType name="EffectcontourDodelijkType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element name="effectcontourDodelijk" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Effectafstand dodelijk letsel (1% mortaliteit).
-- Description --
Zijnde de toetsingsafstand voor o.a. de inventarisatie van bebouwing voor de berekening van het groepsrisico alsook het omgaan met het restrisico
-- Source --
RRGS</documentation>
            </annotation>
          </element>
          <element name="bijTransportroute" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
bij transportroute
-- Definition --
Vewijzing naar de bijbehorende transportroute.
-- Description --
-- Source --
RRGS</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">rrb:Transportroute</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EffectcontourDodelijkPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:EffectcontourDodelijk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ExtraGeometrie" substitutionGroup="gml:AbstractFeature" type="rrb:ExtraGeometrieType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Verzamelobject voor extra geometrie van netwerkelementen. 
-- Description --
Deze klasse biedt de mogelijkheid om extra geometrie toe te voegen ten opzichte van de standaard nodes en links die onderdeel van het netwerk zijn. Dit zijn hoofdzakelijk 3D geometrieën, maar niet uitsluitend. 
vlakgeometrie2D biedt de mogelijkheid om een vlakrepresentatie van een netwerkelement, in 2D, op te nemen. 
Het is toegestaan om meerdere geometrieën op te nemen in dit object, ze sluiten elkaar niet uit.
-- Source --
IMKL</documentation>
    </annotation>
  </element>
  <complexType name="ExtraGeometrieType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vlakgeometrie2D" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Tweedimensionale vlakrepresentatie van het netwerkelement.
-- Description --
Wordt gebruikt indien een netwerkelement ook additioneel als gebied wordt gerepresenteerd.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="puntgeometrie2.5D" type="gml:PointPropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
2.5D representatie van een leidingelement, dus inclusief z waarde.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lijngeometrie2.5D" type="gml:CurvePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
2.5D representatie van een lijnvormig netwerkelement.
-- Description --
Ten opzichte van de 2D representatie wordt de z coordinaat toegevoegd, maar ook waar nodig extra coordinatenparen om de lijn correct in 3D te representeren.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vlakgeometrie2.5D" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
2.5D vlakrepresentatie van het netwerkelement.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geometrie3D" type="gml:SolidPropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Representatie van het netwerkelement als 3D volume.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="inNetwork" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Verwijzing naar het utiliteitsnet.
-- Description --
-- Source --</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">rrb:Utiliteitsnet</targetElement>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ExtraGeometriePropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:ExtraGeometrie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="IMKLBasisPropertyType">
    <choice minOccurs="0">
      <element ref="rrb:Diepte"/>
      <element ref="rrb:EffectcontourDodelijk"/>
      <element ref="rrb:ExtraGeometrie"/>
      <element ref="rrb:Transportroute"/>
      <element ref="rrb:TransportrouteRisico"/>
      <element ref="rrb:Utiliteitsnet"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="KabelOfLeidingPropertyType">
    <choice minOccurs="0">
      <element ref="rrb:OlieGasChemicalienPijpleiding"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="LabelPropertyType">
    <choice minOccurs="0">
      <element ref="rrb:Diepte"/>
      <element ref="rrb:OlieGasChemicalienPijpleiding"/>
      <element ref="rrb:Utiliteitsnet"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Labelpositie" substitutionGroup="gml:AbstractObject" type="rrb:LabelpositieType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Punt op de horiziontale - en verticale as in labeltekst dat geldt als referentie voor plaatsingspunt.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="LabelpositieType">
    <sequence>
      <element name="aangrijpingHorizontaal" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Punt op de horiziontale as in labeltekst dat geldt als referentie voor plaatsingspunt.
-- Description --
-- Source --</documentation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LabelpositieValue</targetCodeList>
          </appinfo>
        </annotation>
      </element>
      <element name="aangrijpingVerticaal" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Punt op de verticale as in labeltekst dat geldt als referentie voor plaatsingspunt.
-- Description --
-- Source --</documentation>
          <appinfo>
            <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">LabelpositieValue</targetCodeList>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LabelpositiePropertyType">
    <sequence>
      <element ref="rrb:Labelpositie"/>
    </sequence>
  </complexType>
  <element name="NEN3610ID" substitutionGroup="gml:AbstractObject" type="rrb:NEN3610IDType">
    <annotation>
      <documentation>-- Name --
NEN3610 ID
-- Definition --
identificatiegegevens voor de universeel unieke identificatie van een object
-- Description --
De combinatie van ‘namespace’ van een registratie, lokale identificatie en versie informatie maken een object uniek identificeerbaar. Met de informatie van deze klasse kan daardoor met zekerheid worden verwezen naar het geïdentificeerde object.
-- Source --
NEN 3610:2011</documentation>
    </annotation>
  </element>
  <complexType name="NEN3610IDType">
    <sequence>
      <element name="namespace" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
unieke verwijzing naar een registratie van objecten
-- Description --
Het attribuut ‘namespace’ is een unieke verwijzing naar de registratie die de identificatie uitdeelt. Deze lijst van registraties wordt beheerd binnen de context van NEN 3610. Binnen Nederland zal deze namespace vrijwel altijd met ‘NL.’ beginnen.
De volgende karakters mogen in een namespace aanduiding voorkomen: {”A”…”Z”, “a”…”z”,    ”0”…”9”, “_”,    “- “,    “,”,    ”.”}
-- Source --
NEN 3610:2011</documentation>
        </annotation>
      </element>
      <element name="lokaalID" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
unieke identificatiecode binnen een registratie
-- Description --
‘LokaalId’ is de identificatiecode die een object heeft binnen een (lokale) registratie.
De volgende karakters mogen in een lokaalID voorkomen: {”A”…”Z”,   “a”…”z”, ”0”…”9”,    “_”,    “-“, “,”,    ”.”}.
-- Source --
NEN 3610:2011</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versie" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
versie-aanduiding van een object
-- Description --
Het attribuut ‘versie’ maakt geen deel uit van de identificatie van het object maar kan worden gebruikt om verschillende versies van hetzelfde object te identificeren.
-- Source --
NEN 3610:2011</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NEN3610IDPropertyType">
    <sequence>
      <element ref="rrb:NEN3610ID"/>
    </sequence>
  </complexType>
  <element name="OlieGasChemicalienPijpleiding" substitutionGroup="us-net-ogc:OilGasChemicalsPipe" type="rrb:OlieGasChemicalienPijpleidingType">
    <annotation>
      <documentation>OilGasChemicalsPipe: -- Name --
OlieGasChemicalienPijpleiding
-- Definition --
Een pijpleiding voor het overbrengen van olie, gas of chemicaliën van de ene locatie naar een andere.
-- Description --
-- Source --
Inspire</documentation>
    </annotation>
  </element>
  <complexType name="OlieGasChemicalienPijpleidingType">
    <complexContent>
      <extension base="us-net-ogc:OilGasChemicalsPipeType">
        <sequence>
          <element minOccurs="0" name="geoNauwkeurigheidXY" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Indicatie van de nauwkeurigheid in horizontaal vlak (x,y) waarmee de geometrie van de ligging van de leiding is aangegeven.
-- Description --
De WION nauwkeurigheid is minimaal +/- 1 meter.
-- Source --</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">NauwkeurigheidXYvalue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="toelichting" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Extra informatie in de vorm van een toelichting.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dieptelegging" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Diepte waarop het object is gelegd.
-- Description --
Wordt alleen opgenomen indien er sprake is van een legging die afwijkt van de gangbare (standaard) dieptelegging.
-- Source --</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">rrb:Diepte</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="extraGeometrie" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Extra geometrie naast de verplichte arc/node.
-- Description --
-- Source --</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">rrb:ExtraGeometrie</targetElement>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Tekst of getal dat een eigenschap omschrijft of kwantificeert en als annotatie op een kaartbeeld wordt afgebeeld.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="omschrijving" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Gedetailleerde omschrijving van het informatieobject.
-- Description --
Kan toegevoegd worden als het label meer uitleg behoeft.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="buismateriaalType" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Materiaal waaruit de buis bestaat.
-- Description --
-- Source --</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">PipeMaterialTypeIMKLValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OlieGasChemicalienPijpleidingPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:OlieGasChemicalienPijpleiding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Opdrachtgever" substitutionGroup="gml:AbstractObject" type="rrb:OpdrachtgeverType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Een opdrachtgever is een persoon die opdracht geeft om te graven in een bepaald gebied.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="OpdrachtgeverType">
    <sequence>
      <element minOccurs="0" name="contactpersoon" type="rrb:ContactPropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Persoon als aanspreekpunt namens opdrachtgever.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="organisatie" type="rrb:OrganisatiePropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Organisatie die als opdrachtgever optreedt.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="OpdrachtgeverPropertyType">
    <sequence>
      <element ref="rrb:Opdrachtgever"/>
    </sequence>
  </complexType>
  <element name="Organisatie" substitutionGroup="gml:AbstractObject" type="rrb:OrganisatieType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Gegevens van de aanvrager van gebiedsinformatie.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="OrganisatieType">
    <sequence>
      <element maxOccurs="2" minOccurs="0" name="naam" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
De naam van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="kvkNummer" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
KvK nummer van de aanvrager van gebiedsinformatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="bezoekAdres" type="rrb:AdresPropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het bezoekadres van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="postbusAdres" type="rrb:PostbusAdresPropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het postbusadres van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="telefoon" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het vaste telefoonnummer van de organiatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="mobiel" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het mobiele telefoonnummer van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="fax" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het faxnummer van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element maxOccurs="2" minOccurs="0" name="email" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het e-mail adres van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="website" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Website van de organisatie.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="OrganisatiePropertyType">
    <sequence>
      <element ref="rrb:Organisatie"/>
    </sequence>
  </complexType>
  <element name="PostbusAdres" substitutionGroup="gml:AbstractObject" type="rrb:PostbusAdresType">
    <annotation>
      <documentation>-- Name --
-- Definition --
De gegevens van een adres voor een bus of vak in een postkantoor.
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="PostbusAdresType">
    <sequence>
      <element name="postbusnummer" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Het postbusnummer van het postbusadres.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element name="postcode" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
De postcode van het postbusadres.
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element name="woonplaatsNaam" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
De benaming van een door het gemeentebestuur
aangewezen WOONPLAATS.
-- Source --
BAG</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="landcode" type="string">
        <annotation>
          <documentation>-- Name --
-- Definition --
Landcode van het postbusadres (zie codelijst).
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PostbusAdresPropertyType">
    <sequence>
      <element ref="rrb:PostbusAdres"/>
    </sequence>
  </complexType>
  <element name="PuntLijnVlak" substitutionGroup="gml:AbstractObject" type="rrb:PuntLijnVlakType">
    <annotation>
      <documentation>-- Name --
-- Definition --
-- Description --
-- Source --</documentation>
    </annotation>
  </element>
  <complexType name="PuntLijnVlakType">
    <choice>
      <element name="punt" type="gml:PointPropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element name="lijn" type="gml:CurvePropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
      <element name="vlak" type="gml:SurfacePropertyType">
        <annotation>
          <documentation>-- Name --
-- Definition --
-- Description --
-- Source --</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="PuntLijnVlakPropertyType">
    <sequence>
      <element ref="rrb:PuntLijnVlak"/>
    </sequence>
  </complexType>
  <element name="Transportroute" substitutionGroup="gml:AbstractFeature" type="rrb:TransportrouteType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Route samengesteld uit aaneengesloten buisleidingen.
-- Description --
-- Source --
RRGS</documentation>
    </annotation>
  </element>
  <complexType name="TransportrouteType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element name="buisleidingtype" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
-- Description --
7 mogelijkheden aangegeven dmv codelijstwaarden.
-- Source --
RRGS</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">BuisleidingTypeValue</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="casNrMaatgevendeStof" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Het CAS-nummer van de voor het risico maatgevende stof.
-- Description --
-- Source --
RRGS</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maatgevendScenarioDodelijk" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Scenario dat maatgevend is geweest voor de gegeven effectafstand dodelijk.
-- Description --
-- Source --
RRGS</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">EffectScenarioType</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element name="omschrijving" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --</documentation>
            </annotation>
          </element>
          <element name="transportrouteNaam" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Naam van de (hoofd)transportroute.
-- Description --
max 240 tekens
-- Source --
RRGS</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportroutePropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:Transportroute"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TransportrouteRisico" substitutionGroup="gml:AbstractFeature" type="rrb:TransportrouteRisicoType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Risicocontour behorend bij de hoofdtransportroute.
-- Description --
De risicocontour is een optioneel element bij een transportroute.
-- Source --
RRGS</documentation>
    </annotation>
  </element>
  <complexType name="TransportrouteRisicoType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element name="risicocontour10_6" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Geometrie v.d. risicontour 10-6
-- Description --
-- Source --
RRGS</documentation>
            </annotation>
          </element>
          <element name="bijTransportroute" type="rrb:TransportroutePropertyType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Transportroute waar de risicocontour betrekking op heeft.
-- Description --
-- Source --
RRGS</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransportrouteRisicoPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:TransportrouteRisico"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <complexType name="TransportroutedeelPropertyType">
    <choice minOccurs="0"/>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Utiliteitsnet" substitutionGroup="us-net-common:UtilityNetwork" type="rrb:UtiliteitsnetType">
    <annotation>
      <documentation>-- Name --
-- Definition --
Een verzameling netwerkelementen die tot één type nutsvoorzieningennet behoren.
-- Description --
Alle netwerkelementen van een utiliteitsnet vallen onder het thema dat bij het utiliteitsnet hoort en worden daar ook door getypeerd. Dat wil zeggen dat bijvoorbeeld een kathodische bescherming voor een waterleiding valt onder een utiliteitsnet met het thema laagspanning. 
-- Source --
Inspire</documentation>
    </annotation>
  </element>
  <complexType name="UtiliteitsnetType">
    <complexContent>
      <extension base="us-net-common:UtilityNetworkType">
        <sequence>
          <element name="identificatie" type="rrb:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: -- Name --
identificatie
-- Definition --
Unieke identificatie van het object binnen het domein van NEN 3610.
-- Source --
NEN 3610:2011</documentation>
            </annotation>
          </element>
          <element name="beginLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De begindatum waarop een data object in de registratie werd aangemaakt, het begin van de levenscyclus van een data object.
-- Description --
Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten. Voor niet INSPIRE plichtige datasets kan hier een dummy waarde worden ingevuld.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endLifespanVersion" type="dateTime">
            <annotation>
              <documentation>-- Name --
-- Definition --
De datum die het einde van een levenscyclus van een data object aangeeft. 
-- Description --
Het moment vanaf wanneer het geen onderdeel meer is van de actuele registratie. Dit attribuut is afkomstig van INSPIRE maar wordt ook gebruikt in de IMKL-specieke objecten.
Dit attribuut heeft DateTime als data type.
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Tekst of getal dat een eigenschap omschrijft of kwantificeert en als annotatie op een kaartbeeld wordt afgebeeld.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="omschrijving" type="string">
            <annotation>
              <documentation>-- Name --
-- Definition --
Gedetailleerde omschrijving van het informatieobject.
-- Description --
Kan toegevoegd worden als het label meer uitleg behoeft.
-- Source --</documentation>
            </annotation>
          </element>
          <element name="thema" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Het thema geeft aan welk type leiding het betreft en welke functie de leidingen hebben. Bijvoorbeeld datatransport, gas lage druk, laagspanning, riool etc. Gekozen kan worden uit een lijst van thema’s
-- Description --
Opmerking: Signaleringskabels die data vervoeren vallen onder datatransport.
-- Source --</documentation>
              <appinfo>
                <targetCodeList xmlns="http://www.opengis.net/gml/3.3/exr">Thema</targetCodeList>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="standaardDieptelegging" type="gml:MeasureType">
            <annotation>
              <documentation>-- Name --
-- Definition --
Gangbare dieptelegging behorend bij dit utiliteitsnet. Diepte is ten opzichte van maaiveld. Dit attribuut heeft een Measure als data type. De UOM wordt uitgedrukt via 1 van de volgende OGC URN codes: • urn:ogc:def:uom:OGC::m •	urn:ogc:def:uom:OGC::cm •	urn:ogc:def:uom:OGC::mm.
Voor WION is de eenheid altijd meter en een getal met ten hoogste 2 decimalen.
-- Description --
-- Source --</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UtiliteitsnetPropertyType">
    <sequence minOccurs="0">
      <element ref="rrb:Utiliteitsnet"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
